*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
}

body{
    font-family: 'Poppins', sans-serif;
}

.startTitle{
    font-size: 4.063rem; 
    font-weight: 600;
}
.carousel-item{
    background: no-repeat scroll center scroll;
    background-size: cover;
}
#navigation .carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: 0.5;
}

.carouselTextPosition{
    position: absolute;
    top: 20%;
}

.carousel-control-prev-icon{
    margin-right: 9rem;
}

.carousel-control-next-icon{
    margin-left: 9rem;
}

ul li {
    list-style: none;
}

footer ul li {
    width: 28px;
    height: 28px;
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    html{
        font-size: 81.25%;
    }
    .startTitle{
        font-size: 3.79rem;
    }
    .carouselTextPosition{
        position: absolute;
        top: 40%;
    }
}

@media only screen and (min-width: 300px) and (max-width: 768px) {
    html{
        font-size: 68.75%;
    }
    .startTitle{
        font-size: 1.97rem;
    }
    .carouselTextPosition{
        position: absolute;
        top: 5%;
    }
}